[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
tabulate = "*"
mysql-connector-python = "*"
pymysql = "*"
flaky = "*"
pytest = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.9"
